<div class="container sl-app-container">
	<div class="row">&nbsp;</div>   
  	<div class="row">
		<div class="col-md-2 col-md-offset-1  bs-callout bs-callout-info bs-callout-no-margin-top">
	      <!--<alert type="info" ng-init="hideAlert = false" close="hideAlert = true" ng-hide="hideAlert"></alert>-->
	      <span> <h2> Ad Platforms</h2>
	      	Integrate with leading ad platforms in one click and start sending data for your next ad campagins in minutes!
	      </span>
	    </div> 
	    <div class="col-md-9">
	    <div class="row">
		    <div class="col-md-3  col-md-offset-1">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/adroll-default.svg)">
		            </span>
		            <a class="btn btn-default btn-xs setup" ng-click="open('AdRoll')">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
		        	<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/appnexus-default.svg)">
		            </span>
		            <a ng-click="open('AppNexus')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/adwords-default.svg)"></span>
		            <a ng-click="open('AdWords')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-md-3 col-md-offset-1">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/facebook-custom-audiences-default.svg)"></span>
		            <a ng-click="open('Facebook Audiences')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/rocket-fuel-default.svg)"></span>
		            <a ng-click="open('Rocket Fuel')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/bing-ads-default.svg)"></span>
		            <a ng-click="open('Bing Ads')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		  </div>  
		  <div class="row">
		    <div class="col-md-3 col-md-offset-1">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/twitter-ads-default.svg)"></span>
		            <a ng-click="open('Twitter Ads')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/quantcast-default.svg)">
					</span>            
					<a ng-click="open('Quantcast')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/dataxu-default.svg)"></span>
		            <a ng-click="open('DataXu')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		  </div>  
		</div>
	</div>
  	<div class="row">&nbsp;</div>
  	<div class="row">
	    <div class="col-md-2 col-md-offset-1  bs-callout bs-callout-info bs-callout-no-margin-top">
	      <!--<alert type="info" ng-init="hideAlert = false" close="hideAlert = true" ng-hide="hideAlert"></alert>-->
	      <span> <h2> Marketing</h2>
	      	Integrate with leading marketing automation platforms in one click and start sending data for your next email and newsletter campagins in minutes!
	      </span>
	    </div>
	    <div class="col-md-9">
		  <div class="row">
		    <div class="col-md-3 col-md-offset-1">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/marketo-default.svg)"></span>
		            <a ng-click="open('Marketo')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/eloqua-default.svg)"></span>
		            <a ng-click="open('Eloqua')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/mailchimp-default.svg)"></span>
		            <a ng-click="open('MailChimp')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		  </div>  
		  <div class="row">
		    <div class="col-md-3 col-md-offset-1">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/pardot-default.svg)"></span>
		            <a ng-click="open('Pardot')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/salesforce-marketing-cloud-default.svg)">
					</span>            
					<a ng-click="open('Saleforce Marketing Cloud')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/localytics-default.svg)"></span>
		            <a ng-click="open('Localytics')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		  </div> 
		  <div class="row">
		    <div class="col-md-3 col-md-offset-1">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/flurry-default.svg)"></span>
		            <a ng-click="open('Flurry')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/outbound-default.svg)">
					</span>            
					<a ng-click="open('Outbound')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/saasquatch-default.svg)"></span>
		            <a ng-click="open('SassSquatch')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		  </div>  		     
		</div>
	</div>
  	<div class="row">&nbsp;</div>
  	<div class="row">
	    <div class="col-md-2 col-md-offset-1  bs-callout bs-callout-info bs-callout-no-margin-top">
	      <!--<alert type="info" ng-init="hideAlert = false" close="hideAlert = true" ng-hide="hideAlert"></alert>-->
	      <span> <h2> Sales </h2>
	      	Integrate with leading sales and business softwares in one click and start sending data for your lead management in minutes!
	      </span>
	    </div>
	    <div class="col-md-9">
		  <div class="row">
		    <div class="col-md-3 col-md-offset-1">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/mailchimp-default.svg)"></span>
					<a ng-click="open('MailChimp')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="tile-integration">
						<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/salesforce-default.svg)"></span>

					<a ng-click="open('Salesforce')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>  
		    <div class="col-md-3">
		        <div class="tile-integration">
					<span style="background-image: url(https://s3.amazonaws.com/segmentio/logos/hubspot-default.svg)"></span>
					<a ng-click="open('HubSpot')" class="btn btn-default btn-xs setup">
		                <i class="fa fa-cogs"></i>
		            </a>
		        </div>
		    </div>      
		  </div> 
		</div>
	</div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Integrate with {{site}}</h3>
        </div>
        <div class="modal-body">
			<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-md-3"><h3>Site Id</h3></div>
					<div class="col-md-9">
						<input type="text" name="input" required placeholder="Site ID">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-md-3"><h3>User ID</h3></div>
					<div class="col-md-9"><input type="text" name="input" required placeholder="User ID"></div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-md-3"><h3>Password</h3></div>
					<div class="col-md-9"><input type="text" name="input" required placeholder="Password"></div>
					</div>
				</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>  
</div> <!-- end of container -->

