<div class="container sl-app-container">
  <!-- top paths -->
  <div class="row  bs-callout bs-callout-info">
    <!--<div class="col-md-9 sl-section-header sl-box-header-padding border-left"> -->
    <div class="col-md-6"> 
      Path Analysis <span popover-placement="right" popover="This graph shows most frequent paths by users. By default, the graph will show a single path in the sunburst graph below. You can also select any path and see what percent of users are performing that action." popover-trigger="mouseenter" popover-popup-delay="200" popover-append-to-body="true" class="ng-scope"><i class="fa fa-question-circle"></i></span> Review the most frequent paths your users take. Start at the center in the interactive visualization below and the walk outwards hovering over each radial to see the path and corresponding percent of users.               
    </div>
    <div class="col-md-3">  
      <!-- segment toolbar -->
      <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-default" ng-click="segmentGeo()">Geo</button>
        <button type="button" class="btn btn-default" ng-click="prepareNewFunnel()">Device</button>         
        <button type="button" class="btn btn-default" ng-click="prepareNewFunnel()">Campaign</button> 
      </div> 
    </div>
    <!--<div class="col-md-3 sl-section-header sl-box-header-padding border-right">-->
    <div class="col-md-3">  
      <div class="input-group date-range-picker pull-right" style="min-width:'50px';">
        <span class="input-group-addon" id="date-range-picker">
          <i class="fa fa-calendar"></i>
        </span>
        <input aria-describedby="date-range-picker" date-range-picker class="form-control date-picker" type="text" 
          ng-model="dateRange" min="eventDateRange.minDate" max="eventDateRange.maxDate" options="datePickerOpts"/>
      </div>  
    </div>          
  </div>    
  <div class="row" style="background: #fff;">
    <div class="col-md-12">
      <div class="row sl-entity">
        <div class="col-md-1 text-center">
          <h3><strong>Rank</strong></h3>
        </div>
       <div class="col-md-9 col-md-offset-1">
         <h3><strong>Path</strong></h3>
       </div>
      </div>
        <div class="row sl-entity sl-path" ng-repeat="path in topPaths">
            <div class="col-md-1 text-center">{{path.rank}}</div>
           <div class="col-md-9 col-md-offset-1">
             <d3breadcrumbs data="path"></d3breadcrumbs>
           </div>
        </div>        
      </div>
  </div>  
  <!-- path visualization--> 
  <div class="row border-top">&nbsp;</div>
  <div  class="row" style="background: #fff;">&nbsp;</div>
  <div  class="row" style="background: #fff;">
    <div class="col-md-2 text-center">
      <h3>Selected Path:</h3>
    </div>    
    <div class="col-md-8">
      <div class="row" >
        <div class="col-md-12" id="test"></div>
      </div>      
      <div  class="row" >
        <div class="col-md-12" id="sequence"></div>
      </div>
      <div class="row"> 
        <div class="col-md-12" id="chart" d3path data="d3Data">
          <div id="explanation" style="visibility: hidden;">
            <span id="percentage"></span><br/>
            of visits begin with this sequence of pages
          </div>
        </div>
      </div>          
    </div>
    <div class="col-md-2" id="sidebar">
      <div id="legend"></div>
    </div>
  </div>  
  <!--<div class="row">      
    <div class="col-md-12" id="sidebar">
      <div id="legend"></div>
    </div>
  </div> -->
</div><!-- end of container-->